{% extends 'base.j2' %} {% block content%}
<div class="container">
  <h1>{{ article_title }}</h1>
  {% if tags %}
  <ul class="tags">
    {% for tag in tags %}
    <li>
      <a class="tag">{{ tag }}</a>
    </li>
    {% endfor %}
  </ul>
  {% endif %}

  {{ body }}
</div>
{% endblock content %}
