<!DOCTYPE html>
<html lang="{{ sitemeta.language_code }}">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ sitemeta.title }}</title>
    {% block css %}
    <link rel="stylesheet" href="{{ ROOT }}assets/css/chota.min.css" />
    <link
      href="https://fonts.googleapis.com/css?family=Noto+Sans+JP:300&display=swap"
      rel="stylesheet"
    />
    <link href="{{ ROOT }}assets/css/prism.css" rel="stylesheet" />

    <link rel="stylesheet" href="{{ ROOT }}assets/css/style.css" />
    {% endblock css %}
  </head>
  <body class="wf-notosansjapanese">
    <div class="container">
      <section class="section">
        <nav class="nav">
          <div class="nav-center">
            <a class="brand" href="{{ ROOT }}index.html">
              <h1>{{ sitemeta.title }}</h1>
            </a>
          </div>
        </nav>
        <nav class="nav">
          <div class="nav-center">
            <div class="tabs">
              {% for menu in menus %}
              <a href="{{ ROOT }}{{ menu }}.html">{{ menu }}</a>
              {% endfor %}
            </div>
          </div>
        </nav>
      </section>
    </div>
    {% block content %} {% endblock content %}
    <footer class="footer">
      <div class="container">
        <div class="is-center">
          <p>© {{ sitemeta.year_of_publication }} {{ sitemeta.author }}</p>
        </div>
      </div>
    </footer>
    <script src="{{ ROOT }}assets/js/prism.js"></script>
  </body>
</html>
