{% extends 'base.j2' %} {% block content%}
<div class="container is-full-screen">
  {% for link, article in current_articles.items() %}
  <article class="article">
    <date datetime="{{ article.date_obj }}">{{ article.display_date }}</date>
    <a href="{{ link }}">
      <h1>{{ article.title }}</h1>
    </a>
    <p>
      {% for tag in article.tags %}
      <span class="tag is-small">{{ tag }}</span>
      {% endfor %}
    </p>
    <br />
    {{ article.summarize_html(500) }}
    <div class="is-right">
      <a class="button outline" href="{{ link }}">
        Read more
      </a>
    </div>
  </article>
  {% endfor %}
</div>
{% endblock content %}
