{% extends 'base.j2' %} {% block content%}
<div class="container is-full-screen">
  {% for article in page.contents%}
  <article class="article">
    <date datetime="{{ article.date_obj }}">{{ article.display_date }}</date>
    <a href="{{ article.url }}">
      <h1>{{ article.title }}</h1>
    </a>
    <p>
      {% for tag in article.tags %}
      <span class="tag is-small">{{ tag }}</span>
      {% endfor %}
    </p>
    <br />
    {{ article.summarize_html(500) }}
    <div class="is-right">
      <a class="button outline" href="{{ article.url }}">
        Read more
      </a>
    </div>
  </article>
  {% endfor %} {% if page.prev_page and page.prev_page == 1%}
  <a class="button outline" href="{{ ROOT }}index.html">
    Prev page
  </a>
  {% elif page.prev_page %}
  <a class="button outline" href="{{ ROOT }}page/{{ page.prev_page }}.html">
    Prev page
  </a>
  {% endif %} {% if page.next_page %}
  <a class="button outline" href="{{ ROOT }}page/{{ page.next_page }}.html">
    Next page
  </a>
  {% endif %}
</div>
{% endblock content %}
