{% extends 'base.j2' %} {% block content%}
<div class="container">
  {{ body }}

  <ul>
    {% for link, title in current_articles.items() %}
    <li>
      <a href="{{ link }}">{{ title }}</a>
    </li>
    {% endfor %}
  </ul>
</div>
{% endblock content %}
