@import url(chota.css);

:root {
  --color-primary: #0ca750; /* brand color */
}

body {
  font-family: "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN",
    "Hiragino Sans", Meiryo, sans-serif;
}

body > .container {
  max-width: 960px;
}

.wf-notosansjapanese {
  font-family: "Noto Sans JP", sans-serif;
}
section {
  margin: 5rem auto;
}
.article {
  margin-bottom: 5rem;
}

.footer {
  margin-top: 10rem;
  padding: 3rem;
  text-align: right;
  color: #a2a2a2;
  background-color: #353535;
}
