<!DOCTYPE html>
<html lang="{{ site_metadata.language_code }}">
  <head>
    <meta charset="{{ site_metadata.charset }}" />
    <meta name="viewport" content="{{ site_metadata.viewport }}" />
    <title>{{ site_metadata.title }}</title>
  </head>
  <body>
  {% block content %}
  {% endblock content %}
  </body>
</html>
