<!DOCTYPE html>
<html lang="{{ site_metadata.language_code }}">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ site_metadata.title }}</title>
    {% block css %}
    <link rel="stylesheet" href="../css/normalize.css" />
    <link rel="stylesheet" href="../css/skeleton.css" />
    <link
      href="https://fonts.googleapis.com/css?family=Noto+Sans+JP"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="../css/style.css" />
    {% endblock css %}
  </head>
  <body class="wf-notosansjapanese">
    {% block header %} {% endblock header %}
    <hr />
    {% block content %} {% endblock content %}
    <footer class="footer">
      <div class="container">
        <p>
          © {{ site_metadata.year_of_publication }} {{ site_metadata.author }}
        </p>
      </div>
    </footer>
  </body>
</html>
