{% extends 'base.j2' %} {% block content%}
<div class="container">
  {% if metadata %}
  <h1>{{ metadata.title }}</h1>
  {% if metadata.tags %}
  <ul class="tags">
    {% for tag in metadata.tags %}
    <li>
      <a class="tag">{{ tag }}</a>
    </li>
    {% endfor %}
  </ul>
  {% endif %} {% endif %}

  {{ body }}
</div>
{% endblock content %}
